@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-area {
  display: grid;
  grid-template-columns: 150px auto 150px;
}

.menu-icon:after {
  position: absolute;
  content: "";
  width: 180px;
  height: 180px;
  right: -60px;
  top: -60px;
  border: 1px solid #c2c2c2;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1023px) {
  .header-area {
    display: flex;
    justify-content: space-between;
  }
}
